{% extends "view/base.html" %}
{% load static %}

{% block extrastyle %}
    <link href="{% static 'view/pagination.css' %}" rel="stylesheet">
    <style>
        input[type="file"] {
            display: none;
        }

        input[type=button], input[type=submit], input[type=reset] {
            background-color: #04AA6D;
            border: none;
            color: white;
            padding: 16px 32px;
            text-decoration: none;
            margin: 4px 2px;
            cursor: pointer;
            border-radius: 5px;
            -webkit-appearance: none;
        }

        input[type=submit][disabled] {
            background-color: #777777;
        }

        .comment-box {
            border-style: none none none solid;
            padding-left: 10px;
            border-left-color: #3b5998;
        }

        .comment-box > .comment-name {
            font-size: 12px;
            color: rgb(100, 100, 100);
            margin-bottom: 0;
        }

        .comment-box > .comment-text {
            font-size: 16px;
            color: rgb(50, 50, 50);
            margin-top: 3px;
        }
    </style>
{% endblock %}

{% load static %}
{% block content %}
    <div class="container" style="padding-bottom: 60px;">
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
                {# Post Cards with picture, likes, and comments #}
                {% if post %}
                    <div class="blog-post-preview-card"><h1
                            style="background: rgb(245, 245, 245); margin-bottom: -5px; color: rgb(245, 100, 100);">Editting...</h1>
                    </div>
                        {% ifchanged post.post_date|date:"F j, Y" %}
                            <div class="blog-post-preview-card"><h1
                                    style="background: rgb(245, 245, 245); margin-bottom: -5px;">{{ post.post_date|date:"F j, Y" }}</h1>
                            </div>
                        {% endifchanged %}
                        <div class="blog-post-preview-card">
                            <div class="row" style="padding-left: 15px; padding-right: 15px;">
                                <div style="float: left;">
                                    <p style="margin-top: 0px; margin-bottom: 0px;"><b>
                                        {% if post.user.first_name != "" %}{{ post.user.first_name }}{% else %}Unknown
                                            User{% endif %}</b> posted</p>
                                </div>
                            </div>
                        <div class="row">
                            <p style="font-size: 10px; color: #999999; padding: 0px; padding-left: 25px; margin: 0px;">
                                {{ post.post_date|date:"F j, Y g:ia" }}
                            </p>
                        </div>
                            <div style="display: flex; width: 100%">
                                {# Comment input form #}
                                <form action="{% url 'view:post_update_text' %}" method="post" class="comment-submit-form"
                                      enctype="multipart/form-data" style="flex: 7;">
                                    {% csrf_token %}
                                    {# text input #}
                                    <div style="width: 100%; display: flex; flex: 10; margin-bottom: 5px;">
                                        <label for="text"></label>
                                        <!--<<input type="text" id="text" name="text">-->
                                        <textarea style="flex: 4; resize: none; width: 75%; margin-right: 10px;" rows=3
                                                  class="comment-textarea" id="post-text"
                                                  name="post-text"
                                                  placeholder="Write some text">{{ post.post_text|linebreaksbr }}</textarea>
                                        <input type="hidden" class="post-id-holder"
                                               id="post-id" name="post-id"
                                               value="{{ post.id }}">
                                        <input style="flex: 1; width:25%" class="comment-submit-button" type="submit"
                                               value="Update!" id="post-submit-button">
                                    </div>
                                    <script>
                                        let textInput{{ post.id }} = document.getElementById("post-text");
                                        let submitButton{{ post.id }} = document.getElementById("post-submit-button");
                                    </script>
                                </form>
                            </div>

                            {# Image or video #}
                            {% if videos %}
                                {% for video in videos %}
                                    {% if video.post_id == post.id %}
                                        <video width='100%' controls>
                                            <source src='{{ video.video_file.url }}#t=0.001' type='video/mp4'>
                                            Your browser does not support the video tag.
                                        </video>
                                        <br>
                                    {% endif %}
                                {% endfor %}
                            {% elif post.post_image %}
                                <a href="{% url 'view:detail' post.id %}"><img class="blog-post-preview-img" src="
                                    {{ post.post_image.full }}" alt="Thumbnail for post"></a>
                                <br>
                            {% else %}
                                <!-- text only -->
                            {% endif %}

                            {# Show comments #}
                            <div class="comment-section-{{ post.id }}" style="width: 100%; margin-bottom: 5px;">
                                {% for comment in comments %}
                                    {% if comment.post_id == post.id %}
                                        <div class="comment-box">
                                            <p class="comment-name">{{ comment.user.first_name }}</p>
                                            <p class="comment-text">{{ comment.comment_text|linebreaksbr }}</p>
                                        </div>
                                    {% else %}
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                {% else %}
                    <p>No posts available</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
